#menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
#dishes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
}

.dish {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 18px;
}
.dishes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
}